{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block custom_styles %}
  <style>

      .wrap-login100 {
        width: auto;
        padding: 1rem;
      }

      .login100-form {
        width:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }

      .login100-form-title {
        padding-bottom:2rem;
      }

      .container-login100-form-btn {
        padding-top:0;
      }

      #div_id_username label, #div_id_email label, #div_id_password1 label, #div_id_password2, .asteriskField {
        display: none;
      }

      .form-group {
        position: relative;
        width: 100%;
      }

      .form-group input {
        font-family: Poppins-Medium;
        font-size: 15px;
        line-height: 1.5;
        color: #666666;

        display: block;
        width: 100%;
        background: #e6e6e6;
        height: 50px;
        border-radius: 25px;
        padding: 0 30px 0 68px;
        border: none;
      }

      .form-group input:focus {
        outline: none;
      }

      .form-group label {
        position: absolute;
        top: -25px;
        left: 25px;
        font-size: 15px;
        font-weight: bold;
        color: #999999;
      }

      .form-group input:focus + label {
        color: #8B54C7;
      }

      .form-group .symbol-input100 {
        font-size: 15px;

        display: flex;
        align-items: center;
        position: absolute;
        border-radius: 25px;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 35px;
        pointer-events: none;
        color: #666666;

        transition: all 0.4s;
      }

      .form-group input:focus + .symbol-input100 {
        color: #8B54C7;
        padding-left: 28px;
      }

      .form-group .asteriskField {
        color: red;
      }

  </style>
{% endblock %}

{% block body %}
  <div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
          {% block navbar %}
          {% endblock %}
          {% block content %}
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  {% if validlink %}
                    <form class="login100-form validate-form" autocomplete="off" method="post">
                      <span class="login100-form-title">
                        Set new password
                      </span>
                      {% csrf_token %}
                      {{ form|crispy }}
                      <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                          Save
                        </button>
                      </div>
                    </form>
                  {% else %}
                    <p class="text-danger">Invalid token.</p>
                    <p class="card-text">
                      <a href="{% url 'password_reset' %}">Request a new password reset token</a>
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
    </div>
  </div>
{% endblock %}
