{% extends 'base.html' %}

{% block custom_styles %}
<style>
  .wrap-main {
    width:60%;
    padding:1rem;
  }
  .asteriskField {
    display:none;
  }
  h2 {
    margin-block-end: 1rem;
  }
</style>
{% endblock %}

{% block body %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-main">
                {% block navbar %}
                {% endblock %}
                {% block content %}
                    <div class="row justify-content-center p-3" style="text-align:center;">
                        <div class="col-12">
                            <h2>Password changed with success!</h2>
                            <p>You may now <a href="{% url 'login' %}" style="font-weight:bold; color:#0066cc;">log in</a> again.</p>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}