{% extends 'base.html' %}

{% block custom_styles %}
<style>
  .wrap-main {
    width:60%;
    padding:1rem;
  }
  .asteriskField {
    display:none;
  }
  h2 {
    margin-block-end: 1rem;
  }
</style>
{% endblock %}

{% block body %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-main">
                {% block navbar %}
                {% endblock %}
                {% block content %}
                  <div class="row justify-content-center p-3">
                    <div class="col-12">
                      <h2>Reset your password</h2>
                      <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                    </div>
                  </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}