{% extends 'base.html' %}
{% load static %}
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Add your site or application content here -->
{% block body %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-main">
            {% block navbar %}
                <div class="container-fluid">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light  bgwhite">
                            <a class="navbar-brand ProjectColor" href="{% url 'home' %}">Inkwell</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item ">
                                        <a class="nav-link fs-15" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link fs-15" href="{% url 'profile' %}">Profile</a>
                                    </li>
                                    <li class="nav-item pt-2 pl-3">
                                        <form action="search.html">
                                            <input type="search" class="p-1 fs-14 pl-3 input-border"  placeholder="Search .. !">
                                        </form>
                                    </li>
                                </ul>
                                <div class="form-inline my-2 my-lg-0">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link fs-18" href="{% url 'login' %}" data-toggle="tooltip" data-placement="top" title="Log out !"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            {% endblock %}
            {% block content %}
                <div class="container mt-5" style="width: 75%">
                    <div class="row">
                        <div class="col ">
                            <div class="main-block">
                                <div class="coverPicture" style="background: url('/static/images/cover.jpg');"></div>
                                <div class="profilePicture" style="background: url('/static/images/profile.jpg');"></div>
                                <div class="FullName text-center  fs-18 ProjectColor ">
                                    {{ user.username }}
                                </div>
                                <!--<div class="row statistic text-center fs-16 p-3">-->
                                    <!--<div class="col "><p>Ferinds</p> <br> <p>10</p></div>-->
                                    <!--<div class="col border-left"><p>Posts</p> <br> <p>5</p></div>-->
                                <!--</div>-->
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-sm-12  mobile-shown">
                            <div class=" main-block create-section">
                                <div class="create">
                                    <!--<div class="title "> <p class="p-1 ml-2 mt-1 fs-14 font-cairo font-weight-600">Add Post</p></div>-->
                                    <!--<hr class="m-1">-->
                                    <div class="text-area pt-3">
                                        <textarea name="" class="w-full p-3 fs-16 " style="height: 75px;resize: none;color: #666666;    border-radius: 5px;" placeholder="What About Today ?!"></textarea>
                                    </div>
                                    <!--<hr class="m-1">-->
                                    <div class="action p-2 pr-3">
                                        <button class="float-r  p-2 fs-16 post" style="">Post</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-block post-without-photo">
                                <div class="Post-Box ">
                                    <div class="header row ">
                                        <div class="col-2">
                                            <div class=" pt-2 pl-2 d-inline-block">
                                                <div class="Profile-Picture " style="background: url('/static/images/profile.jpg') "></div>
                                            </div>
                                        </div>
                                        <div class="col-9 p-l-0" style="margin-left: -60px; margin-right: 60px ">
                                            <div class="UserName d-inline-block mt-3">
                                                <p><a href="" class="font-weight-bold">Ahmed M. Elhalaby</a></p>
                                                <p class="lh-1-2"><a href="" class="fs-10">22:50 PM</a> <i class="fa fa-globe fs-10" data-toggle="tooltip" data-placement="top" title="Public"></i></p>
                                            </div>
                                        </div>
                                        <div class="col-1" >
                                            <div class="ActionBTN text-right pr-4 pt-4">
                                                <a href="">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="m-2">
                                    <div class="body row">
                                        <div class="details col ">
                                            <p class="px-3 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum expedita odit ullam voluptatum. Architecto at debitis delectus doloremque enim error eum fugiat, harum, necessitatibus praesentium unde voluptates! Doloribus, sunt?</p>
                                        </div>
                                    </div>
                                    <hr class="mt-2 mb-0">
                                    <div class="footer ">
                                        <div class="row action-btn ">
                                            <div class="col ">
                                                <p class=" py-2 footer-btn text-center"><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i> <span class="px-1"> Like</span></a></p>
                                            </div>
                                            <div class="col border-left">
                                                <p class=" py-2 footer-btn text-center"><a href=""><i class="fa fa-comment-o" aria-hidden="true"></i> <span class="px-1"> Comment</span></a></p>
                                            </div>
                                            <div class="col border-left">
                                                <p class=" py-2 footer-btn text-center"><a href=""><i class="fa fa-share-square-o" aria-hidden="true"></i> <span class="px-1"> Share</span></a></p>
                                            </div>
                                        </div>
                                        <hr class="mt-0 mb-2">
                                        <div class="row comment-list">
                                            <div class="add-comment col-12 pb-2">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <div class=" pt-2 pl-2 d-inline-block">
                                                            <div class="Profile-Picture-Comment " style="background: url('/static/images/profile.jpg') "></div>
                                                        </div>
                                                    </div>
                                                    <div class="comment-box col-11 pl-0">
                                                        <div class="row pr-2 pt-2 pb-2 pl-0">
                                                            <div class="col pl-0">
                                                                <input type="text" class="p-2 fs-14 pl-3" placeholder="Add new comment">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment col-12 ">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <div class=" pt-2 pl-2     d-inline-block">
                                                            <div class="Profile-Picture-Comment " style="background: url('/static/images/profile.jpg') "></div>
                                                        </div>
                                                    </div>
                                                    <div class="comment-box col-10 pl-0">
                                                        <div class="row pr-2 pt-2 pb-2 pl-0">
                                                            <div class="col pl-0">
                                                                <p class="pt-1 pl-2 pb-0 fs-14 " > Lorem ipsum dolor sit amet. </p>
                                                                <p class="p-0 pl-2 fs-10"><a href="" class="fs-10">Like </a> .
                                                                <a href="" class="fs-10"> Comment </a> . <span class="fs-9">52m</span> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment col-12 pt-0">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <div class=" pt-2 pl-2     d-inline-block">
                                                            <div class="Profile-Picture-Comment " style="background: url('/static/images/profile.jpg') "></div>
                                                        </div>
                                                    </div>
                                                    <div class="comment-box col-10 pl-0">
                                                        <div class="row pr-2 pt-2 pb-2 pl-0">
                                                            <div class="col pl-0">
                                                                <p class="pt-1 pl-2 pb-0 fs-14 " > Lorem ipsum dolor sit amet. </p>
                                                                <p class="p-0 pl-2 fs-10"><a href="" class="fs-10">Like </a> .
                                                                <a href="" class="fs-10"> Comment </a> . <span class="fs-9">52m</span> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-block post-with-photo">
                                <div class="Post-Box">
                                    <div class="header row ">
                                        <div class="col-2">
                                            <div class=" pt-2 pl-2 d-inline-block">
                                                <div class="Profile-Picture " style="background: url('/static/images/profile.jpg') "></div>
                                            </div>
                                        </div>
                                        <div class="col-9 p-l-0" style="margin-left: -60px; margin-right: 60px ">
                                            <div class="UserName d-inline-block mt-3">
                                                <p><a href="" class="font-weight-bold">Ahmed M. Elhalaby</a></p>
                                                <p class="lh-1-2"><a href="" class="fs-10">22:50 PM</a> <i class="fa fa-globe fs-10" data-toggle="tooltip" data-placement="top" title="Public"></i></p>
                                            </div>
                                        </div>
                                        <div class="col-1" >
                                            <div class="ActionBTN text-right pr-4 pt-4">
                                                <a href="">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="m-2">
                                    <div class="body row">
                                        <div class="details col ">
                                            <p class="px-3 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sunt? consectetur adipisicing elit .</p>
                                        </div>
                                        <div class="image col-12 " >
                                            <div class="row pr-3 pt-3 pl-3 ">
                                                <div class="col"style=" background: url('/static/images/Cover.jpg'); height: 350px;background-size: cover;background-position: top center;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-0">
                                    <div class="footer ">
                                        <div class="row action-btn ">
                                            <div class="col ">
                                                <p class=" py-2 footer-btn text-center"><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i> <span class="px-1"> Like</span></a></p>
                                            </div>
                                            <div class="col border-left">
                                                <p class=" py-2 footer-btn text-center"><a href=""><i class="fa fa-comment-o" aria-hidden="true"></i> <span class="px-1"> Comment</span></a></p>
                                            </div>
                                            <div class="col border-left">
                                                <p class=" py-2 footer-btn text-center"><a href=""><i class="fa fa-share-square-o" aria-hidden="true"></i> <span class="px-1"> Share</span></a></p>
                                            </div>
                                        </div>
                                        <hr class="mt-0 mb-2">
                                        <div class="row comment-list">
                                            <div class="add-comment col-12 pb-2">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <div class=" pt-2 pl-2     d-inline-block">
                                                            <div class="Profile-Picture-Comment " style="background: url('/static/images/profile.jpg') "></div>
                                                        </div>
                                                    </div>
                                                    <div class="comment-box col-11 pl-0">
                                                        <div class="row pr-2 pt-2 pb-2 pl-0">
                                                            <div class="col pl-0">
                                                                <input type="text" class="p-2 fs-14 pl-3" placeholder="Add new comment">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment col-12 ">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <div class=" pt-2 pl-2     d-inline-block">
                                                            <div class="Profile-Picture-Comment " style="background: url('/static/images/profile.jpg') "></div>
                                                        </div>
                                                    </div>
                                                    <div class="comment-box col-10 pl-0">
                                                        <div class="row pr-2 pt-2 pb-2 pl-0">
                                                            <div class="col pl-0">
                                                                <p class="pt-1 pl-2 pb-0 fs-14 " > Lorem ipsum dolor sit amet. </p>
                                                                <p class="p-0 pl-2 fs-10"><a href="" class="fs-10">Like </a> .
                                                                <a href="" class="fs-10"> Comment </a> . <span class="fs-9">52m</span> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment col-12 pt-0">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <div class=" pt-2 pl-2     d-inline-block">
                                                            <div class="Profile-Picture-Comment " style="background: url('/static/images/profile.jpg') "></div>
                                                        </div>
                                                    </div>
                                                    <div class="comment-box col-10 pl-0">
                                                        <div class="row pr-2 pt-2 pb-2 pl-0">
                                                            <div class="col pl-0">
                                                                <p class="pt-1 pl-2 pb-0 fs-14 " > Lorem ipsum dolor sit amet. </p>
                                                                <p class="p-0 pl-2 fs-10"><a href="" class="fs-10">Like </a> .
                                                                <a href="" class="fs-10"> Comment </a> . <span class="fs-9">52m</span> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
